.template-row {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.template-solo {
  width: 30vw;
  height: 38.82vw;
  background-color: white;
}

.template-solo-form {
  width: 30vw;
  height: max-content;
  background-color: white;
}

.template-header-flex {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px black dotted;
  align-items: flex-end;
}

.header-name {
  font-size: 1.5em;
  font-weight: 400;
}

.template-contact-info {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px black dotted;
  font-size: 1em;
}

.intro-header {
  font-size: 1.2em;
  font-weight: 400;
}

.intro-mission {
  font-size: 0.8em;
  font-weight: 400;
}

.intro-long {
  font-size: 0.8em;
  font-weight: 200;
}

.introSkill-grid {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px black dotted;
}

.intro-skill {
  font-size: 0.8em;
  font-weight: 200;
}

.experience-header {
  font-size: 1.2em;
  font-weight: 400;
}

.education-header {
  font-size: 1.2em;
  font-weight: 400;
}

.company-name {
  font-size: 0.9em;
  font-weight: 400;
}

.intro-mission {
  font-size: 0.8em;
  font-weight: 400;
}

.company-city {
  font-size: 0.8em;
  font-weight: 400;
  margin-left: 1em;
}

.company-date {
  font-size: 0.8em;
  font-weight: 400;
  margin-right: 4em;
}

.role-title {
  font-size: 0.9em;
  font-weight: 200;
}

.experience-top-flex-outer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.experience-top-flex-left {
  width: max-content;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

.experience-description {
  font-size: 0.8em;
  font-weight: 200;
}

.experience-responsibility {
  font-size: 0.8em;
  font-weight: 200;
}

.education-facility {
  font-size: 0.9em;
  font-weight: 400;
}

.education-degree {
  font-size: 0.9em;
  font-weight: 200;
}

.education-graduation-date {
  font-size: 0.9em;
  font-weight: 200;
}

.education-gpa {
  font-size: 0.9em;
  font-weight: 200;
}

.education-minor {
  font-size: 0.8em;
  font-weight: 200;
}
