body {
  display: flex;
  width: 100%;
  height: 100vh;
  margin: 0px;
  padding: 0px;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.editing-page {
  width: 100%;
  height: 100%;
  color: black;
}

.editing-page-outer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.editing-page-form-container {
  width: 49%;
  height: 100%;
  color: black;
}

.editing-page-preview-container {
  width: 49%;
  height: 100%;
  color: #7abacc;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.editing-page-form-container {
  width: 49%;
  height: 100%;
  color: #7abacc;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.editing-page input {
  border: black solid 1px;
  width: 100%;
  min-width: fit-content;
  margin: 2px;
  padding: 2px;
}

.editing-page textarea {
  border: black solid 1px;
  width: 100%;
  min-width: fit-content;
  margin: 2px;
  padding: 2px;
}
